<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
            <section name="Godo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Godo.Properties.Settings>
            <setting name="RemasterInstallRoot" serializeAs="String">
                <value />
            </setting>
        </Godo.Properties.Settings>
    </userSettings>
</configuration>
