################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Godo/bin/Debug/battle
/Godo/bin/Debug/kernel
/Godo/bin/Debug/scene.bin
/Godo/bin/Debug/KERNEL.BIN
/Godo/bin/Debug/FF7RandomSeeds.txt
